html {
  background: #eee image-url('bg.jpg') repeat-x fixed top;

  body {
    @include blueprint-typography(true);

    background: none;
    margin: 1em auto;
    overflow: visible;
    width: $machinejam-body-width;

    #content {
      background: white;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $blueprint-headers-font-family;
    }

    a {
      text-decoration: none;

      &:active {
        position: relative;
        top: 1px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

