%h2 Listing machines
%ol
  - @machines.each do |machine|
    %li
      = link_to machine.name, machine
      %ul
        %li= link_to 'edit', edit_machine_path(machine)
        %li= link_to 'delete', machine, :confirm => 'You sure?', :method => :delete

%ul
  %li= link_to 'define new DFM', new_machine_path
