- title "Showing machine \'#{@machine.name}\'"

- content_for :places do
  %li= link_to "« show all machines", machines_path

%div#states
  %div.states_container
    %div.state
      %div.graph!= @machine.to_graph.to_svg

= form_tag(process_word_path(@machine), :class => 'process_word_machine') do |f|
  %ol
    %li
      %label{:for => 'machine_word'} word for the machine to process:
      %input{:type => 'textfield', :id => 'machine_word', :name => 'machine[word]'}

